@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 162 100% 95%;
        --foreground: 162 5% 10%;
        --card: 162 50% 90%;
        --card-foreground: 162 5% 15%;
        --popover: 162 100% 95%;
        --popover-foreground: 162 100% 10%;
        --primary: 162 50% 57.6%;
        --primary-foreground: 0 0% 100%;
        --secondary: 162 30% 70%;
        --secondary-foreground: 0 0% 0%;
        --muted: 124 30% 85%;
        --muted-foreground: 162 5% 35%;
        --accent: 124 30% 80%;
        --accent-foreground: 162 5% 15%;
        --destructive: 0 100% 30%;
        --destructive-foreground: 162 5% 90%;
        --border: 162 30% 50%;
        --input: 162 30% 26%;
        --ring: 162 50% 57.6%;
        --radius: 0.3rem;
    }
    .dark {
        --background: 162 50% 10%;
        --foreground: 162 5% 90%;
        --card: 162 50% 10%;
        --card-foreground: 162 5% 90%;
        --popover: 162 50% 5%;
        --popover-foreground: 162 5% 90%;
        --primary: 162 50% 57.6%;
        --primary-foreground: 0 0% 100%;
        --secondary: 162 30% 20%;
        --secondary-foreground: 0 0% 100%;
        --muted: 124 30% 25%;
        --muted-foreground: 162 5% 60%;
        --accent: 124 30% 25%;
        --accent-foreground: 162 5% 90%;
        --destructive: 0 100% 30%;
        --destructive-foreground: 162 5% 90%;
        --border: 162 30% 26%;
        --input: 162 30% 26%;
        --ring: 162 50% 57.6%;
        --radius: 0.3rem;
    }
}
